.footer{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 50px;
    background-color: rgb(120, 156, 187);
}
.footer-logo
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-links
{
    display: flex;
    /* justify-content: space-around; */
    gap: 50px;
    list-style-type: none;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    color: blue;
    
}
.footer-links>li{
    cursor: pointer;
}

.social-icon
{
    display: flex;
        gap:30px;
}
.social-icon>.icon{
    cursor: pointer;
}
.icon:hover{
    transform: scale(1.4);
    transition: all 2s;
}
.copy-right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    font-weight: bolder;
}
.copy-right>hr{
    width: 80%;
}
@media only screen and (max-width:450px){


    .footer-links{
        
        display: flex;
        flex-direction: column;
    }



}